*{
    margin: 0;
    padding: 0;
}
/*section{
    position: relative;
    height: 100vh;
    background: #1C2431;
}
.box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff005c;
    width: 200PX;
    height: 200px;
}*/

/*Using Flex*/
/*section{
    position: relative;
    height: 100vh;
    background: #1C2431;
    display: flex;
    justify-content:center;
    align-items: center;
}
.box{
    position: relative;
    background: #ff005c;
    width: 200PX;
    height: 200px;
}*/

/*Using Grid*/
/*section{
    position: relative;
    height: 100vh;
    background: #1C2431;
    display: grid;
}
.box{
    position: relative;
    background: #ff005c;
    align-self: center;
    justify-self: center;
}*/

/*section{
    position: relative;
    height: 100vh;
    background: #1C2431;
    display: grid;
}
.box{
    position: relative;
    background: #ff005c;
    margin: auto;
}*/

/*section{
    position: relative;
    height: 100vh;
    background: #1C2431;
    display: grid;
    place-items: center;
}
.box{
    position: relative;
    background: #ff005c;
}*/
